@model info_2022.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1 class="oswald text-primary">Usuwanie</h1>

@{
    if (!String.IsNullOrEmpty(ViewBag.DeleteMessage))
    {
    <h5 class="alert alert-info" role="alert"><i class="bi-info-circle"></i>&nbsp; @ViewBag.DeleteMessage</h5>
    }
    else
    {
    <h5 class="alert alert-danger" role="alert"><i class="bi-exclamation-triangle"></i>&nbsp;Czy na pewno usunąć tę kategorię?</h5>
        }
    }

    <div>
    <h4 class="text-success"><b>Kategoria</b></h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Icon)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Icon)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Active)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Display)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Display)
            </dd>
        </dl>
        
        <form asp-action="Delete">
        @{
            if (String.IsNullOrEmpty(ViewBag.DeleteMessage))
            {
                <input type="hidden" asp-for="CategoryId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            }
        }
            <a asp-action="Index" class="btn btn-light">Powrót do listy</a>
        </form>
    </div>
