@model IEnumerable<info_2022.Models.Uwaga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TekstUwaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rozpatrzone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TekstUwaga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rozpatrzone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUwaga">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUwaga">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUwaga">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
