@model IEnumerable<info_2022.Models.Category>

@{
    ViewData["Title"] = "Lista kategorii";
}

<h1 class="oswald text-primary">Lista kategorii</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Dodaj kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th width="12%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <i class="bi-@item.Icon"></i><br />
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td> 
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-outline-primary rounded-circle my-1" title="Szczegóły"><i class="bi-eye" aria-label="Szczegóły"></i></a>
                    @{
                        if (User.IsInRole("admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-warning rounded-circle my-1" title="Edytuj"><i class="bi-pen-fill" aria-label="Edycja"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger rounded-circle my-1" title="Usuń"><i class="bi-trash" aria-label="Usuń"></i></a>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>
